html {
    background: #0B0210;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    overflow: hidden;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
}

#content {
    position: absolute;
    z-index: 4;

    height: 230px;
    overflow: auto;
    margin: auto;
    top: 0; 
    bottom: 0; 
    right: auto; 
    left: 50px;
}

#title {
    display: block;
    width: 100%;
}

canvas#westin{
    border-radius: 3px;
    float: left;
}

h1 {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: white;
    opacity: 0.8;
    text-align: left;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 2em;
    display: none;
}

h2 {
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 15px;
    margin-top: 18px;
    font-size: 0.8em;
    float: left;
}

#description {
    clear: both;
    margin-top: 60px;
    width: 450px;
}

#links{
    clear: both;
    margin-top: 20px;
    width: 450px;
}

p {
    font-family: "europa";
    color: rgba(255, 255, 255, 0.40);
    text-align: left;
    display: block;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
}

span.highlight {
    color: rgba(255, 255, 255, 0.60);
}


li {
    display: inline-block;
    opacity: 0.3;
    vertical-align: middle;
    margin-right: 16px;
    transition: all 0.1s ease-out;
}

li:hover{
    opacity: 1;
}

li img{
    display: block;
}

a {
    text-decoration: none;
}

#noise {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.9;
    background-image: url(test3.png);
    background-repeat: repeat;
    content: '';
    display: block;
    z-index: 2;
}

#gradients {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.9;
    background-image: radial-gradient(at 70%, rgba(39, 32, 69, 0.4) 0%, rgba(11, 2, 16, 0.00) 80%),
        radial-gradient(farthest-side at 70% 200%, rgba(82,48,97,0.4) 30%, rgba(11,2,16,0.00) 80%),
        radial-gradient(ellipse closest-corner at 60% 40%, rgba(47,44,111,0.3) 0%, rgba(16,15,39, 0.4) 90%),
        radial-gradient(circle farthest-side at 0% 90%, rgba(255,255,255, 0) 0%, rgba(11,2,16,0.00) 80%),
        radial-gradient(100% 40%, rgba(82,48,97,0.3) 0%, rgba(11,2,16,0.00) 90%);
    display: block;
    z-index: 1;
}


canvas#background {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width : 556px) {
    #content {
        left: 20px;
    }
}


@media only screen and (max-width : 483px) {

    #content {
        margin-left: 20px;
        margin-top: 35%;
        height: 280px;
        /*width: 100%;*/
        left: 0;
    }

    canvas#westin{
        display: none;
    }

    #title{
        background: rgba(255,255,255,0.1);
        border-radius: 2px;
        padding: 10px;
        width: auto;
        display: inline-block;
    }

    h1{
        display: block;
        margin-left: 0px;
    }

    h2{
        color: rgba(255,255,255,0.5);
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
        letter-spacing: 5.4px;
        float: none;
    }

    #description {
        padding-left: 0;
        margin-top: 10px;
        width: 80%;
    }

    p {
        letter-spacing: 0.5px;
        font-size: 15px;
        line-height: 21px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 382px) {
    #content {
        margin-top: 100px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #description {
        width: 90%;
    }

    p {
        letter-spacing: 0.5px;
        font-size: 16px;
        line-height: 21px;
    }
}