html {
    background: #0B0210;
    /*background-image: radial-gradient(73% 55%, RGBA(39, 32, 69, 0.3) 0%, rgba(0,0,0,0.00) 90%);*/
    /*background-image: radial-gradient(100% 100%, RGBA(39, 32, 69, 1) 99%, rgba(0,0,0,0.00) 90%);*/
    background-image: radial-gradient(at 70%, rgba(39, 32, 69, 0.4) 0%, rgba(11, 2, 16, 0.00) 80%),
    	radial-gradient(farthest-side at 70% 200%, rgba(82,48,97,0.4) 30%, rgba(11,2,16,0.00) 80%),
    	radial-gradient(ellipse closest-corner at 60% 40%, rgba(47,44,111,0.3) 0%, rgba(16,15,39, 0.4) 90%),
       radial-gradient(circle farthest-side at 0% 90%, rgba(255,255,255, 0) 0%, rgba(11,2,16,0.00) 80%);
	/*background-image: radial-gradient(100% 40%, rgba(82,48,97,0.3) 0%, rgba(11,2,16,0.00) 50%);*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

h1 {
    color: white;
    opacity: 0.8;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
    margin-bottom: 0px;
}

#content {
    margin: auto;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0; 
    right: auto; 
    left: 40px;
    text-align: left;
    z-index: 4;
    display: inline-block;
}

#title {
    float: left;
}

#description {
    float: right;
}

p {
    color: white;
}

p#tagline {
    color: rgba(255, 255, 255, 0.30);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0px;
}

#noise {
/*    -webkit-animation: grainy 2s steps(4) infinite;
    -moz-animation: grainy 2s steps(4) infinite;
    -ms-animation: grainy 2s steps(4) infinite;
    animation: grainy 2s steps(4) infinite;*/
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.6;
    background-image: url(test3.png);
    background-repeat: repeat;
    content: '';
    display: block;
    z-index: 1;
}
canvas {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
}
